<!-- <!DOCTYPE html>
<html>
<head>
	<h2>Reach us at : <h2>
</head>
<body>
	<h1><img src="https://thumbs.dreamstime.com/b/instagram-171762080.jpg" width="60" height="35">v_jay_krishna_1729</h1>
    <h3><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZYkc6C2TMeV_1Am15j-AJX7CrZc8EPdZEA&usqp=CAU" width="60" height="35">varkolu.vijay1729@gmail.com</h3>
    <h4><img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-whatsapp-phone-icon-png-image_6315989.png" width="'60" height="35">+91 9392305151</h4>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f5f5f5;
		}
		h2 {
			color: #33475b;
			margin-top: 30px;
			margin-bottom: 20px;
			text-align: center;
		}
		h1, h3, h4 {
			color: #33475b;
			margin-top: 20px;
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: normal;
			line-height: 1.2;
		}
		img {
			margin-right: 10px;
		}
	</style>
</head>
<body>
	<h2>Get in touch with us:</h2>
	<h1><img src="https://thumbs.dreamstime.com/b/instagram-171762080.jpg" width="30" height="20">v_jay_krishna_1729</h1>
    <h3><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZYkc6C2TMeV_1Am15j-AJX7CrZc8EPdZEA&usqp=CAU" width="30" height="20">varkolu.vijay1729@gmail.com</h3>
    <h4><img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-whatsapp-phone-icon-png-image_6315989.png" width="30" height="20">+91 9392305151</h4>
</body>
</html>